@import "jquery.plupload.queue";

.center {
  float: none;
  margin: 0 auto;
}

.search-field {
  width: 88%;
}

.search-field input {
  width: 100% !important;
}

.search_results {
  margin-top: 15px;
  padding: 8px;
}
